# Cloudflare (for text-to-image)
CLOUDFLARE_ACCOUNT_ID=
CLOUDFLARE_API_TOKEN=

# HuggingFace (for text-to-video and image-to-video)
HF_API_TOKEN=

# Server
PORT=5001

# Nimiq wallet address to receive payments
RECIPIENT_ADDRESS=
